 
[submodule "content-blog"]
	path = content-blog
	url = https://github.com/arsaudax/blog-content.git
	branch = main
[submodule "content-garden"]
	path = content-garden
	url = https://github.com/arsaudax/garden-content.git
        branch = main
