/* =========================================================
   CUSTOM COMPONENTS
   ========================================================= */

.card {

  border: 1px solid var(--lightgray);

  padding: 1rem;

  border-radius: 6px;

}